@import "~/sass/shared"

$trans-duration: .2s

.slider-wrapper
  @include clearfix
  position: relative

  *
    transition: all $trans-duration ease-in


  .slider-list-wrapper
    overflow: hidden

    .slider-list
      @include clearfix
      display: none

      .slider-item
        opacity: 0
        float: left

  .slider-indicator
    margin: 2rem 0
    text-align: center
    font-size: 0

    .slider-indicator-item
      display: inline-block
      width: 1.6rem
      height: .3rem
      margin: 0 .5%
      background-color: #ddd
      border-radius: .5rem

      &:hover,
      &.active
        background-color: $base-color

      &:hover
        transform: scaleX(1.2)

  .slider-prev,
  .slider-next
    cursor: pointer
    text-align: center
    background-color: #eee

    &:hover
      background-color: $base-color
      color: #fff
